/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: white;
     font-family: Consolas, Monaco, 'Andale Mono', monospace;
     font-size: 12px;
     direction: ltr;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     position: relative;
     margin: 0 10px 20px;
     padding: 10px;
     border: 1px solid #dfdfdf;
     background-color: #fdfdfd;
     background-size: 3em 3em;
     background-origin: content-box;
     overflow: visible;
 }
 
 code[class*="language"] {
     background: black;
     max-height: inherit;
     padding: 0px 15px;
     display: block;
     overflow: auto;
 }
 
 /* Margin bottom to accomodate shadow */
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background-color: #fdfdfd;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin-bottom: 1em;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     position: relative;
     padding: .2em;
     -webkit-border-radius: 0.3em;
     -moz-border-radius: 0.3em;
     -ms-border-radius: 0.3em;
     -o-border-radius: 0.3em;
     border-radius: 0.3em;
     color: #c92c2c;
     border: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 :not(pre) > code[class*="language-"]:after,
 pre[class*="language-"]:after {
     right: 0.75em;
     left: auto;
     -webkit-transform: rotate(2deg);
     -moz-transform: rotate(2deg);
     -ms-transform: rotate(2deg);
     -o-transform: rotate(2deg);
     transform: rotate(2deg);
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #7D8B99;
 }
 
 .token.punctuation {
     color: white;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.function-name,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #9b59b6;
 }
 
 .token.string {
     color: #e74c3c;
 }
 
 .token.selector,
 .token.attr-name,
 .token.char,
 .token.function,
 .token.builtin,
 .token.inserted {
     color: #3498db;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .token.variable {
     color: white;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword,
 .token.class-name {
     color: #f1c40f;
 }
 
 .token.regex,
 .token.important {
     color: #e90;
 }
 
 .language-css .token.string,
 .style .token.string {
     color: #e74c3c;
     background: rgba(255, 255, 255, 0.5);
 }
 
 .token.important {
     font-weight: normal;
 }
 
 .token.entity {
     cursor: help;
 }
 
 .namespace {
     opacity: .7;
 }
 
 @media screen and (max-width: 767px) {
     pre[class*="language-"]:before,
     pre[class*="language-"]:after {
         bottom: 14px;
         -webkit-box-shadow: none;
         -moz-box-shadow: none;
         box-shadow: none;
     }
 
 }
 
 /* Plugin styles */
 .token.tab:not(:empty):before,
 .token.cr:before,
 .token.lf:before {
     color: #e0d7d1;
 }
 
 /* Plugin styles: Line Numbers */
 pre[class*="language-"].line-numbers {
     padding-left: 0;
 }
 
 pre[class*="language-"].line-numbers code {
     padding-left: 3.8em;
 }
 
 pre[class*="language-"].line-numbers .line-numbers-rows {
     left: 0;
 }
 
 