@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 769px) {
  .topnav {
    float: right;
    text-align: right;
    font-size: 15px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .nav-icons {
    display: inline-block;
    float: right;
  }
  .nav-icons i {
    color: white;
    font-size: 15px;
    margin-right: 16px;
  }
  .topnav #myLinks li {
    display: inline-block;
  }
  li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logo1 {
    width: 130px;
    float: left;
  }
  .topnav a.icon {
    display: none;
  }
}

.pozicija {
  margin-top: 50px;
  margin-right: 130px;
}

.logo-align {
  float: left;
}

.paragraf {
  text-align: center;
  color: white;
  width: 100%;
}

.par {
  width: 60%;
  font-size: 15px;
}

.smal {
  display: none;
}

.bigg {
  display: block;
}

.mySlides {
  display: none;
  font-size: 20px;
}

.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.rutul {
  text-align: center;
  background: red !important;
}

.actived {
  background: #3866c9 !important;
}

.image2 {
  float: right;
}

.sepia {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
}

.mySlides1 {
  display: inline-block;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-left: initial;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;
  border-right: 1px solid black;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slideShow {
  height: 100%;
  width: 75%;
  min-width: 750px;
  margin: 0 auto;
  overflow: visible;
}

.slideShow__container {
  height: 100%;
  width: 100%;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  position: relative;
}

.slideShow__slide {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}

.slideShow__image {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.slideShow__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.slideShow__titleWrap {
  font-size: 1rem;
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: #fff;
}

.slideShow__slideTitle {
  font-weight: 300;
  z-index: 500;
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 0 .5rem;
  opacity: 0;
}

.slideShow__slideSubTitle {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-left: .5rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
}

.slideShow__next, .slideShow__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 5em;
  line-height: 1em;
  color: #fff;
}

.slideShow__next i, .slideShow__prev i {
  display: block;
  float: left;
}

.slideShow__next {
  right: 1rem;
  cursor: pointer;
}

.slideShow__prev {
  left: 1rem;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.slideShow__prev.is-inactive {
  opacity: 0.3;
  cursor: default;
}

.forms {
  padding: 3%;
  width: 30%;
  margin: 0 auto;
}

.slick-slide:hover img {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media only screen and (max-width: 768px) {
  .aresca textarea {
    -webkit-columns: 50;
            columns: 50;
    rows: 5;
  }
  .forms {
    padding: 3%;
    width: 50%;
  }
  .mobile-dots {
    text-align: center;
  }
  .image2 {
    float: none;
    text-align: center;
  }
  .smal {
    display: block;
  }
  .bigg {
    display: none;
  }
  .pasleptas {
    display: none;
  }
  .idea {
    color: rgba(190, 176, 176, 0.911);
    font-size: 30px;
  }
  .paragraf {
    text-align: center;
    color: #9c9b96;
    font-size: 20px;
    margin-top: 50px;
  }
  .logo1 {
    width: 30%;
    float: none;
  }
  .pozicija {
    margin-top: 0px;
    margin-right: 0px;
  }
  .logo-align {
    text-align: center;
    margin: 20px 0 50px 0;
    display: block;
    float: none;
  }
  #myLinks {
    display: none;
  }
  #nesamone {
    display: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: darkblue;
    width: 100%;
  }
  .topnav a.icon {
    display: block;
    color: white;
    text-align: center;
    font-size: 40px;
    width: 100%;
    background-color: darkblue;
  }
  .nav-icons {
    text-align: center;
    font-size: 20px;
    float: none;
  }
  .nav-icons i {
    color: white;
    margin-right: 15px;
  }
  .image1 {
    width: 80%;
    text-align: center;
  }
  .topnav {
    float: none;
  }
}
/*# sourceMappingURL=style.css.map */